@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  @apply bg-gray-900 text-white; /* Dark background with white text */
  font-family: 'Inter', sans-serif;
  margin: 0;
}
a {
  @apply no-underline text-white;
}